<ul class="users">
  <li *ngFor="let user of users" class="li-users">
    <mat-accordion class="accordion-class">
      <mat-expansion-panel hideToggle >
        <mat-expansion-panel-header class="expansion-header">
          <mat-panel-title class="userName">
            <span class="name">{{ user.name }}</span>
          </mat-panel-title>
          <mat-panel-description> </mat-panel-description>
          <button mat-raised-button color="primary" (click)="update(user.id)">
            <mat-icon class="icon">compare_arrows</mat-icon>
          </button>
          <button mat-raised-button color="primary" class="delete-button" (click)="delete(user.id)">
            <mat-icon class="icon">cancel</mat-icon>
          </button>
        </mat-expansion-panel-header>
        {{ user.details }}
      </mat-expansion-panel>
    </mat-accordion>
  </li>
</ul>