
.userName{
  width: 100%;
}

.li-users {
  display: flex;
  width: 100%;
  list-style: none;
  
}

.users button:hover {
  left: .1em;
}

.users button {
  flex: 1;
  cursor: pointer;
  position: relative;
  margin: .5em;
  padding: 2em;
  border-radius: 4px;
  display: flex;
  align-items: stretch;
  height: 1.8em;
  border-radius: 100px;
}


.accordion-class{
  display: flex;
  padding:10px;
  margin: 0 auto;



}




mat-expansion-panel{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 100%;

}


.expansion-header{
  position: relative;
  width: 1000px;
  height: 75px;

}

.icon{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}


.update{
  background-color: #4e54c8;
}

.delete{
  background-color: white;
}



.container{
  height: 450px;

  overflow-y: scroll;
}


/* Table styling */
.details td, .details th {
  border: 1px solid #ddd;
  padding: 8px;
}

.details {
  border-collapse: collapse;
  width: 100%;
}

.details tr:nth-child(even){background-color: #f2f2f2;}


.details th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #787cc6;
  color: white;
}
a{
  text-decoration: none;
  color: #787cc6;
}
a:visited{
  text-decoration:none;
}