<form class="form" #form="ngForm" (ngSubmit)="add(form)">
  <mat-form-field class="name">
    <input
      matInput
      type="text"
      name="userName"
      ngModel
      #userName="ngModel"
      required
      minlength="2"
      maxlength="30"
      placeholder="Enter the user name" 
    />
  </mat-form-field>

<mat-form-field class="details"> 
  <input matInput name="job" #job="ngModel" ngModel required placeholder="Job" type="text">
</mat-form-field>
<mat-form-field class="details"> 
  <input matInput name="email" #email="ngModel" ngModel required placeholder="Email" type="text">
</mat-form-field>
<mat-form-field class="details"> 
  <input matInput name="mobileNumber" #mobileNumber="ngModel" ngModel required placeholder="Phone Number" type="text">
</mat-form-field>
<mat-form-field class="details twitter"> 
<input matInput name="twitter" #twitter="ngModel" ngModel placeholder="Twitter Link" type="text"> 
</mat-form-field>
<br>
  <button style="text-align: center;" class="btn" mat-raised-button color="primary">
    <span>Add user</span>
  </button>
</form>
