@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
h1 { 
  padding-bottom:15px;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 40px;
  font-weight: bold;
  color: #4e54c8;
  text-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

.container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  padding: 10px;
  padding-top: 50px;
  background-color: rgba(255,255,255,1);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 8px;
  transition: 0.3s;

}



.user-wrap {
  list-style-type:decimal;

  padding: 0;
  margin: 0;

  border-radius: 5px;

}



.users .badge {
  display: inline-block;
  font-size: small;

  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  margin-right: 1.8em;
  border-radius: 4px 0 0 4px;
}

.users .name {
  align-self: center;
}

