<h2>Developers list</h2>

<form #form="ngForm" (ngSubmit)="add(form)"  >

    <input required placeholder="Enter the user name" type="text" name="userName" ngModel> <br>
    <input type="text" placeholder="Enter the user details"  name="userDetails" ngModel>
    <br>
    <button mat-raised-button color="primary">
      <span class="badge">Add user</span>
    </button>

</form>


<ul class="users">
  <li *ngFor="let user of users">
    <button [class.selected]="user == selectedUser" type="button" (click)="onSelect(user)">
      <span class="badge">{{user.id}}</span>
      <span class="name">{{user.name}}</span>
      
      <button class="delete badge" (click)="delete(user)" >delete</button>
    </button>

  </li>
</ul>
